{{ form_start(form) }}
<div class="row g-4">
    <div class="col-md-6">
        {{ form_row(form.first_name) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.last_name) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.school_grade) }}
    </div>

    <div class="col-md-6">
        {{ form_row(form.lessons_count) }}
    </div>

    <div class="col-12">
        <div class="form-check form-switch mt-2">
            {{ form_widget(form.is_active, {'attr': {'class': 'form-check-input'}}) }}
            {{ form_label(form.is_active, null, {'label_attr': {'class': 'form-check-label'}}) }}
            {{ form_errors(form.is_active) }}
        </div>
    </div>
</div>

<div class="d-flex flex-column flex-sm-row justify-content-end gap-2 mt-4">
    <a href="{{ path('app_student_index') }}" class="btn btn-outline-secondary">
        Скасувати
    </a>

    <button class="btn btn-primary px-4">
        {{ button_label|default('Зберегти') }}
    </button>
</div>
{{ form_end(form) }}
