{{ form_start(lessonForm, {
    'attr': {
        'id': 'lessonCreateForm'
    }
}) }}
    <div class="mb-3">
        {{ form_row(lessonForm.student) }}
    </div>

    <div class="mb-3">
        {{ form_row(lessonForm.title) }}
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            {{ form_row(lessonForm.start_at) }}
        </div>
        <div class="col-md-6">
            {{ form_row(lessonForm.end_at) }}
        </div>
    </div>

    <div class="mt-3">
        {{ form_row(lessonForm.status) }}
    </div>

    <div class="mt-3">
        {{ form_row(lessonForm.notes) }}
    </div>
    <input type="hidden" name="lesson_id" id="lesson_id">
{{ form_end(lessonForm) }}

<div id="lessonCreateError" class="alert alert-danger mt-3 d-none"></div>

